[Desktop Entry]
Type=Application
Exec=/usr/libexec/helper-scripts/terminal-wrapper /usr/libexec/gateway-shortcuts/stoptor
Name=Stop Tor
GenericName=Stop Tor
Comment=Stop Tor
Categories=System
Icon=/usr/share/icons/anon-icon-pack/Saki-NuoveXT-2-Actions-stop.ico
Keywords=system;tor;
X-XFCE-Source=file:///usr/share/applications/gateway-stoptor.desktop
