[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/user/Desktop/arch.jpg]
row=1
col=0

[/home/user/Desktop/4k.mp4]
row=4
col=0

[/home/user/Desktop/d9em9fs.jpg]
row=2
col=0

[/home/user/Desktop/Sweet-Dark]
row=0
col=1

[/home/user/Desktop/htop.desktop]
row=8
col=0

[/home/user/Desktop/polybar-scripts]
row=1
col=1

[/home/user/Desktop/install_szh.sh]
row=0
col=0

[/home/user/Desktop/config]
row=5
col=0

[/home/user/Desktop/Sweet-cursors]
row=7
col=0

[/home/user/Desktop/highway_animated_wallpaper]
row=3
col=0

[/home/user/Desktop/Sweet-cursors.tar.xz]
row=6
col=0

