[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/user/Desktop/Highway 4k.mp4]
row=3
col=0

[/home/user/Desktop/arch.jpg]
row=1
col=0

[/home/user/Desktop/d9em9fs.jpg]
row=2
col=0

[/home/user/Desktop/install_szh.sh]
row=0
col=0

